<nav class="bg-primary-light">
    <div class="container">

        <ul class="nav align-items-center py-3">
          <li class="nav-item">
            <a class="nav-link">
              <img src="../assets/images/icons/logo.png" alt="logo">
            </a>
          </li>
          <li class="nav-item">
            <form class="d-flex" role="search">
              <div class="input-group">
                  <input class="form-control border rounded-end rounded-pill border-end-0 fs-6" type="search" placeholder="搜尋文章" aria-label="搜尋文章">
                  <button class="btn btn-outline-accent border-start-0 bg-white border fs-6" type="submit">
                      <i class="bi bi-search"></i>
                  </button>
              </div>
            </form>
          </li>
          <li class="nav-item ms-auto me-9 mt-1">
            <a class="nav-link active text-dark h6" aria-current="page" href="#">
              所有文章
            </a>
          </li>
          <li class="nav-item me-9 mt-1">
            <a class="nav-link text-dark h6" href="#">
              訂閱方案
            </a>
          </li>
          <li class="nav-item me-9 mt-1">
            <a class="nav-link text-dark h6" href="#">
              關於我們
            </a>
          </li>
          <li class="nav-item mt-1">
            <a class="text-white btn btn-secondary h6" href="#">
              登入 / 註冊
            </a>
          </li>
        </ul>
    </div>
</nav>