.banner{
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  // @include sm {
  //   background-image: url("/assets/images/banner-sm.png");
  // }
}

.border-leaf{
  border-radius: 20px 0 20px 0;
}

.mask-leaf{
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

/* 按鈕中間畫線 */

.line{

  &::before{
    width: 50%;
    height: 1px;
    content: "";
    background-color: $gray-600;
    /*位移*/
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    @media(min-width: 768px){
      width: 25%;
    }
    @media(min-width: 992px){
      width: 40%;
    }
  }
}