.banner{
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  // @include sm {
  //   background-image: url("/assets/images/banner-sm.png");
  // }
}

.border-leaf{
  border-radius: 20px 0 20px 0;
}

.mask-leaf{
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}
