<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header>
      <div class="container py-10 border-top">
        <div
          class="position-relative d-flex d-md-flex d-lg-none justify-content-center"
        >
          <img
            src="../assets/images/banner-sm.png"
            class="img-fluid"
            alt="banner-sm"
          />
          <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <div>
              <h5 class="text-white text-center">獻給新世代的生活風格誌</h5>
              <h1 class="text-white text-center">一起探索生活的無限可能</h1>

              <button class="btn btn-accent d-block mx-auto mb-5">
                馬上訂閱
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="position-relative d-none d-md-none d-lg-block">
          <img
            src="../assets/images/banner.png"
            class="img-fluid"
            alt="banner-lg"
          />

          <div
            class="position-absolute top-50 start-0 translate-middle-y ps-5 ms-3"
          >
            <h5 class="text-white">獻給新世代的生活風格誌</h5>
            <h1 class="text-white">一起探索生活的無限可能</h1>
            <button class="btn btn-accent">
              馬上訂閱
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!--主題區塊-->
    <div class="py-10">
      <section class="container">
        <h2 class="h2 mb-4">熱門主題</h2>
        <div class="row">
          
          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-1.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">城市漫遊者</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-3.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-3-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">秘境尋蹤人</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-5.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-5-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">品味設計家</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-8.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-8-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">美食探險記</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-2.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-2-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">美學建築誌</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-4.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-4-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">慢活生活行</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-6.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-6-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">工藝匠心賞</h5>
              </div>
            </article>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-7.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-7-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">時尚先鋒派</h5>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
    <!--主題區塊-->
    <!--活動區塊-->
    <div class="py-10 bg-primary">
      <section class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6">
            <h4 class="h4 mb-9 text-primary-dark text-center">
              \ 母親節強檔活動 / 
            </h4>
            <h2 class="h2 mb-9 text-dark text-center fw-black">
              家庭訂閱方案限時 7 折
            </h2>
            <div class="d-flex justify-content-center">
              <ul class="text-gray-400 fs-6" style="list-style-image:url('../assets/images/icons/ulicon.png');">
                <li class="ps-2">每月最新文章無限閱讀</li>
                <li class="ps-2">專屬會員限定內容</li>
                <li class="ps-2">定期電子報</li>
                <li class="ps-2">年度精選禮物</li>
                <li class="ps-2">24 /7 優先客戶服務</li>
                <li class="ps-2">為每個成員量身打造專屬行程</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--活動區塊-->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
