<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <header>
      <div class="container py-10 border-top">
        <div
          class="position-relative d-flex d-md-flex d-lg-none justify-content-center"
        >
          <img
            src="../assets/images/banner-sm.png"
            class="img-fluid"
            alt="banner-sm"
          />
          <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <div>
              <h5 class="text-white text-center">獻給新世代的生活風格誌</h5>
              <h1 class="text-white text-center">一起探索生活的無限可能</h1>

              <button class="btn btn-accent d-block mx-auto mb-5">
                馬上訂閱
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="position-relative d-none d-md-none d-lg-block">
          <img
            src="../assets/images/banner.png"
            class="img-fluid"
            alt="banner-lg"
          />

          <div
            class="position-absolute top-50 start-0 translate-middle-y ps-5 ms-3"
          >
            <h5 class="text-white">獻給新世代的生活風格誌</h5>
            <h1 class="text-white">一起探索生活的無限可能</h1>
            <button class="btn btn-accent">
              馬上訂閱
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!--主題區塊-->
    <div class="py-10">
      <section class="container">
        <h2 class="h2 mb-4 fw-black">熱門主題</h2>
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-1.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">城市漫遊者</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-3.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-3-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">秘境尋蹤人</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-5.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-5-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">品味設計家</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-8.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-8-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">美食探險記</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-2.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-2-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">美學建築誌</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-4.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-4-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">慢活生活行</h5>
              </div>
            </article>
          </div>

          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-6.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-6-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">工藝匠心賞</h5>
              </div>
            </article>
          </div>
          <div class="col-12 col-md-4 col-lg-3 mb-2 mb-md-4 mb-md-lg">
            <article class="card border-leaf">
              <img
                src="../assets/images/theme-7.png"
                class="card-img border-leaf d-none d-md-block d-lg-block"
                alt="theme-lg"
              />
              <img
                src="../assets/images/theme-7-sm.png"
                class="card-img border-leaf d-block d-md-none d-lg-none"
                alt="theme-sm"
              />
              <div
                class="card-img-overlay d-flex align-items-center justify-content-center border-leaf mask-leaf"
              >
                <h5 class="card-title h5 text-white">時尚先鋒派</h5>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
    <!--主題區塊-->
    <!--精選文章-->
    <div class="py-10 bg-primary-300">
      <section class="container">
        <h2 class="h2 mb-4 fw-black">精選文章</h2>
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4">

            <div class="swiper-pagination"></div>
            
            <p class="append-buttons">
              <button class="prepage">上一頁</button>
              <button class="nextpage">下一頁</button>
            </p>
          </div>
          <div class="col-12 col-md-8 col-lg-8">
            <div #swiperRef="" class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card rounded-0" style="width: 18rem">
                    <img
                      src="../assets/images/articles-1.png"
                      class="card-img-top rounded-0"
                      alt="文章圖片1"
                    />
                    <div class="card-body">
                      <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                      <p class="card-text">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                      </p>
                      <a href="#" class="text-secondary">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card rounded-0" style="width: 18rem">
                    <img
                      src="../assets/images/articles-1.png"
                      class="card-img-top rounded-0"
                      alt="文章圖片1"
                    />
                    <div class="card-body">
                      <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                      <p class="card-text">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                      </p>
                      <a href="#" class="text-secondary">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card rounded-0" style="width: 18rem">
                    <img
                      src="../assets/images/articles-1.png"
                      class="card-img-top rounded-0"
                      alt="文章圖片1"
                    />
                    <div class="card-body">
                      <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                      <p class="card-text">
                        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                      </p>
                      <a href="#" class="text-secondary">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-scrollbar"></div>
            </div>
          
          </div>

        </div>
        

      </section>
    </div>
    <!--精選文章-->
    <!--活動區塊-->
    <div class="py-10 bg-primary">
      <section class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6">
            <h4 class="h4 mb-9 text-primary-dark text-center">
              \ 母親節強檔活動 /
            </h4>
            <h2 class="h2 mb-9 text-dark text-center fw-black">
              家庭訂閱方案限時 7 折
            </h2>
            <div class="d-flex justify-content-center">
              <ul
                class="text-gray-400 fs-6"
                style="
                  list-style-image: url('../assets/images/icons/ulicon.png');
                "
              >
                <li class="ps-2 mb-3">每月最新文章無限閱讀</li>
                <li class="ps-2 mb-3">專屬會員限定內容</li>
                <li class="ps-2 mb-3">定期電子報</li>
                <li class="ps-2 mb-3">年度精選禮物</li>
                <li class="ps-2 mb-3">24 /7 優先客戶服務</li>
                <li class="ps-2 mb-7">為每個成員量身打造專屬行程</li>
              </ul>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-accent mx-auto">我想了解</button>
            </div>
          </div>
          <div class="position-relative mb-n10">
            <div class="position-absolute bottom-0 start-0">
              <img
                src="../assets/images/bg-1.png"
                alt="主題背景裝飾1"
                class="img-fluid d-none d-md-block d-lg-block"
              />
            </div>
            <div class="position-absolute bottom-0 end-0">
              <img
                src="../assets/images/bg-2.png"
                alt="主題背景裝飾2"
                class="img-fluid d-none d-md-block d-lg-block"
              />
              <img
                src="../assets/images/bg-2-sm.png"
                alt="主題背景手機板裝飾"
                class="img-fluid d-block d-md-none d-lg-none"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--活動區塊-->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
